<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="shrink-0">
          <span class="text-white font-bold text-xl">Rails-Claw</span>
        </div>
        <div class="ml-10 flex items-baseline space-x-4">
          <% NAV_ITEMS.each do |item| %>
            <%= link_to item[:label], send(item[:path]), class: link_classes(item) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
