<% content_for(:title) { "New Workspace - Rails-Claw" } %>

<div class="max-w-lg mx-auto">
  <%= render PageHeaderComponent.new(title: "New Workspace") %>
  <div class="mt-6">
    <%= render "form", workspace: @workspace %>
  </div>
</div>
