<% content_for(:title) { "Edit #{@agent.name} - Rails-Claw" } %>

<div class="max-w-lg mx-auto">
  <%= render PageHeaderComponent.new(title: "Edit Agent") %>
  <div class="mt-6">
    <%= render "form", agent: @agent, workspace: @workspace %>
  </div>
</div>
